@import "tailwindcss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #6b7280;
  --color2: #ffffff;
  --color3: #d9d9d9;
  --color4: #2772cc;
  --color5: #244f84;
  --color6: #030712;
  --color7: #99d7f7;
  --color8: #f3f4f8;
  --color9: #1f2937;
  --color10: #1a3151;
  --color11: #e5e7eb;
  --color12: #45a5ec;
  --color13: #d97706;
  --color-14: #f0f9fe;
  --color-15: #f59e0b;
  --color-16: #fbbf24;
  --color-17: #d1d5db;
  --outfit-r: "outfit";
  --albert-sans-r: "albert-sans-r";
}

@font-face {
  font-family: "outfit";
  src: url(../assets/fonts/Outfit/Outfit/static/Outfit-Regular.ttf)
    format("truetype");
}

@font-face {
  font-family: "albert-sans-r";
  src: url(../assets/fonts/Albert_Sans/static/AlbertSans-Regular.ttf)
    format("truetype");
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--albert-sans-r);
  overflow-x: hidden;
  color: var(--color6);
  background-color: var(--color2);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}
/* html,
body{ 
    overflow-x: hidden;
    width: 100%;
} */

.custom-container {
  max-width: 1350px;
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

img {
  max-width: 100%;
  display: block;
  height: auto;
}

figure {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul,
li {
  list-style: none;
  padding-left: 0;
}

h1,
.heading-1 {
  font-family: var(--outfit-r);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
  color: var(--color5);
}

h2,
.heading-2 {
  font-family: var(--outfit-r);
  font-weight: 600;
  font-size: 42px;
  line-height: 1.2;
  color: var(--color5);
  text-transform: capitalize;
}

h3,
.heading-3 {
  color: var(--color10);
  font-size: 32px;
  font-family: var(--outfit-r);
  line-height: 1.2;
}

h4,
.heading-4 {
  font-family: var(--outfit-r);
  font-weight: 500;
  font-size: 28px;
  line-height: 1.2;
  text-transform: capitalize;
}

h5,
.heading-5 {
  font-family: var(--outfit-r);
  font-weight: 500;
  font-size: 24px;
  line-height: 1.2;
  text-transform: capitalize;
}

h6,
.heading-6 {
  font-family: var(--outfit-r);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-transform: capitalize;
}

p {
  color: var(--color1);
  font-family: var(--albert-sans-r);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 0;
  text-transform: capitalize;
}